<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de détail sur une déclaration</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/asset/img/favicon.png') }}">

    <link href="../../../../css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/asset/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/asset/plugins/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/asset/plugins/fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/asset/css/fullcalendar.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/asset/css/dataTables.bootstrap4.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/asset/plugins/morris/morris.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{asset('node_modules/sweetalert2/dist/sweetalert2.min.css')}}" />

</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
        .logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
        }
        #container{
            font-family: Roboto, Poppins, sans-serif;
        }

        .title_contenair{
            text-align: center;
            font-size: 24px;
            text-decoration: underline;
            margin-top: 30px;
        }
        h2 {
            margin: 0 auto;
            text-align: center;

        }

        .newright p {
            margin-bottom: 0;
        }
      
        .direction_info {
            margin-bottom: 10px;
        }

        .cabinet {
            text-align: center;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .dsi {
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 5px;
        }

        .date {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        } 
        .content {
            margin-top: 40px;
        }

        .signature-row {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .signature {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .signature .contenu img{
            width: 100px;
            height: 75px;
        }

    </style>
    <section id="container">
        <!--main content start-->
        <section id="main-content mb-3" style="background-color: white;max-width: 800px;margin: 0 auto;padding: 20px;" >
            <section class="wrapper">
                <div class="form-w3layouts" style="background-color: white; opacity:0.8; box-shadow: rgb(38, 57, 77) 0px 1px 1px 1px;">
                    <!-- page start -->
                    <div class="row pt-3 pb-3">
                        <div class="col-md-12">
                            <div data-collapsed="0" class="panel">
                                <div class="panel-body">
                                    <div class="col title_contenair">
                                        DECLARATION DE {% if declaration.typedeclaration is same as("Naissance") %}NAISSANCE {% elseif declaration.typedeclaration is same as("Décès agent") or declaration.typedeclaration is same as("Décès parent") %}DECES{% endif %}
                                    </div>
                                    <div class="col content ml-3">
                                        <p>Type de déclaration : <strong>{{ declaration.typedeclaration }}</strong></p>
                                        {% if declaration.typedeclaration == "Naissance" %}
                                            <p>Nom et prénom(s) de l'enfant : {{ declaration.enfant }}</p>
                                        {% elseif declaration.typedeclaration == "Décès agent" %}
                                            <p>Matricule de l'agent décédé : {{ declaration.matriculedeces }}</p>
                                        {% elseif declaration.typedeclaration == "Décès parent" %}
                                            <p>Nom et prénom(s) du parent décédé : {{ declaration.parent }}</p>
                                        {% endif %}
                                        {% if declaration.typedeclaration == "Naissance" %}
                                            <p>
                                                Dossiers fournis :
                                                {% for fichier in declaration.fichiernaiss %}
                                                    <strong>{{ fichier.path }}</strong><br>
                                                {% endfor %}
                                            </p>
                                        {% elseif declaration.typedeclaration == "Décès agent" or declaration.typedeclaration == "Décès parent" %}
                                            <p>
                                                Dossiers fournis :
                                                {% for fichier in declaration.fichierdeces %}
                                                    <strong>{{ fichier }}</strong><br>
                                                {% endfor %}
                                                {% if declaration.hasProgrammeObsq == 1 %}
                                                    <strong>{{ declaration.programmeObsq }}</strong>
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                        <p>
                                            {% if declaration.typedeclaration == "Naissance" %}
                                                Date de naissance de l'enfant : <strong class="mr-5">{{ declaration.getFormattedDatenaiss() }}</strong>
                                            {% elseif declaration.typedeclaration == "Décès agent" %}
                                                Date de décès de l'agent : <strong class="mr-5">{{ declaration.getFormattedDatedeces() }}</strong>
                                            {% elseif declaration.typedeclaration == "Décès parent" %}
                                                Date de décès du parent : <strong class="mr-5">{{ declaration.getFormattedDatedeces() }}</strong>
                                            {% endif %}                                                 
                                        </p>
                                    </div>
                                    <div class="signature-row ml-3">
                                        <div class="signature mr-5">
                                            <div class="titre text-center">Signature de l'agent qui a fait la déclaration:</div>
                                            {# <div class="contenu"><img src="{{ asset('uploads/image_signature/' ~ declaration.personne.signature.path)}}" alt=""></div> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- page end-->
                </div>
            </section>
        </section>
        <!--main content end-->
    </section>
    <ul class="row d-flex justify-content-between list-unstyled text-center w-50 mt-2 mb-2" style="position:relative;left:50%;transform:translateX(-50%)">
        {% if is_granted('ROLE_GRH') %}
            <li class="col">
                <a href="{{ path('declaration.valider', { declarationId: declaration.id }) }}" class="btn btn-success btn-sm mb-1">
                    <i class="fa-solid fa-square-check"></i>Valider
                </a>
            </li>
            <li class="col">
                <a href="{{ path('declaration.rejeter', { declarationId: declaration.id }) }}" class="btn btn-danger btn-sm mb-1">
                    <i class="fa-sharp fa-solid fa-xmark"></i>Rejeter
                </a>
            </li>
        {% endif %}
        <li class="col">
            {% if is_granted('ROLE_GRH') %}
                <a href="{{ path('declaration.liste', { declarationId: declaration.id }) }}" class="btn btn-success btn-sm mb-1">
                    <i class="fa-solid fa-arrow fa-arrow-left"></i>Retour
                </a>
            {% else %}
                <a href="{{ path('declaration.afficher', { declarationId: declaration.id }) }}" class="btn btn-success btn-sm mb-1">
                    <i class="fa-solid fa-arrow fa-arrow-left"></i>Retour
                </a>
            {% endif %}
        </li>
    </ul><br><br>
    <script src="{{asset('node_modules/sweetalert2/dist/sweetalert2.all.min.js')}}"></script>
<script>
		{% for flashMessage in app.session.flashbag.get('error') %}
			Swal.fire({
				title: 'Erreur',
				text: '{{ flashMessage|e }}',
				icon: 'error'
			});
		{% endfor %}

		{% for flashMessage in app.session.flashbag.get('success') %}
			Swal.fire({
				title: 'Succès',
				text: '{{ flashMessage|e }}',
				icon: 'success'
			});
		{% endfor %}
	</script>
</body>
</html>
