{% extends 'liste-template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/datatables/tables-style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/edit-agent.css')}}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="data_table">
                    <table id="example" class="table table-striped table-bordered">
                        <a href="{{path('personne.edit')}}" id="btn" class="btn">Ajouter une nouvelle personne</a>
                        <thead>
                            <tr>
                                <th class="head"></th>
                                <th class="head">Matricule</th>
                                <th class="head">Nom</th>
                                <th class="head">Prenom</th>
                                <th class="head">Emploi</th>
                                <th class="head">Direction</th>
                                <th class="head">Date de naissance</th>
                                <th class="head">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for personne in personnes %}
                                <tr class="table-{% if loop.index is odd %}success{% else %}warning{% endif %}">
                                    <td class="custom-checkbox"><input type="checkbox" class="personne-checkbox" value="{{personne.id}}"></td>
                                    <td>{{personne.matricule}}</td>
                                    <td>{{personne.nom}}</td>
                                    <td>{{personne.prenom}}</td>
                                    <td>{{personne.emploi}}</td>
                                    <td>{{personne.direction.designation}}</td>
                                    <td>{{ personne.datenaiss|date('Y-m-d') }}</td>
                                    <td class="action">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item lien" href="{{ path('personne.detail', {id: personne.id}) }}"><i class="fa-regular fa-circle-info"></i> Voir plus</a></li>
                                                <li><a id="lien" class="dropdown-item lien" onclick="showModal('lien')" href="{{ path('personne.edit', {id: personne.id}) }}"><i class="fa fa-user-pen"></i> Editer</a></li>
                                                <li><a class="dropdown-item lien" href="{{ path('personne.delete', {matricule: personne.matricule}) }}"><i class="fa fa-trash"></i> Supprimer</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="dataTables_paginate">
                        <!-- Éléments de pagination générés par DataTables -->
                        <!-- ... -->
                    </div>
                    <button id="btnAction" class="btn">Lancer l'action</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
      });
    </script>
    <script src="{{ asset('assets/js/datatables/init.js') }}"></script>
    <script src="{{asset('assets/js/modal.js')}}"></script>
   
{% endblock %}
