{% extends 'admin-template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/datatables/datatables.min.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/datatables/tables-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/edit-agent.css') }}">
    
{% endblock %}
{% block editprofile %}
    <a class="dropdown-item" href="{{path('user_edit',{id: user.id})}}">Editer Profil</a>
{% endblock %}
{% block editprofile2 %}
  <li><a href="{{path('user_edit',{id: user.id})}}"><span>Créer compte agent</span></a></li>
{% endblock %}
{% block showprofile %}
    <a class="dropdown-item" href="{{path('user_show',{id: user.id})}}">Mon Profil</a>
{% endblock %}
{% block notifpro %}
    <img alt="John Doe" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" class="img-fluid rounded-circle">
{% endblock %}
{% block photoprofile %}
    <img class="rounded-circle" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" width="30" alt="Admin">
{% endblock %}
{% block main %}
<div id="newpersonne" class="modal fade" role="dialog" style="display: none;position: fixed;z-index: 9999;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content" style="position: absolute;top: 10px;background-color: #fff;padding: 20px;border-radius: 5px;left: 50%; transform: translateX(-50%);max-width: 800px;max-height: 2000px;">
            <span data-dismiss="modal" id="close" class="newmodal-close float-right" style="cursor: pointer;font-size: 20px;font-weight: bolder;color: #ccc;">&times;</span>
            <h3 class="font-weight-bold text-center">Enregistrement d'un agent</h3>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="search" style="position: relative !important;" style="position: relative !important;">
                {{ form_row(form.nom,{
                    'attr':{
                        'class': 'input',
                        'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                    }
                }) }}
            </div>
            <div class="search" style="position: relative !important;">
                    {{ form_row(form.prenom,{
                    'attr':{
                        'class': 'input',
                        'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                    }
                }) }}
            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.matricule,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.civilite,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.structure,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            {{ form_label(form.fonction, 'Fonction', {
            'label_attr': {
                'class': 'label',
            }
            }) }}</br>
            {{ form_widget(form.fonction,{'attr':{'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'}}) }}</br></br>

            {{ form_label(form.direction, 'Direction', {
            'label_attr': {
                'class': 'label',
            }
            }) }}</br>
            {{ form_widget(form.direction,{'attr':{'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'}}) }}</br></br>

            {{ form_label(form.sousdirection, 'Sous-direction', {
            'label_attr': {
                'class': 'label',
            }
            }) }}</br>
            {{ form_widget(form.sousdirection,{'attr':{'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'}}) }}</br></br>

            {{ form_label(form.service, 'Service', {
            'label_attr': {
                'class': 'label',
            }
            }) }}</br>
            {{ form_widget(form.service,{'attr':{'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'}}) }}</br></br>

            {% set currentDate = "now"|date("d/m/Y") %}
            <div class="search" style="position: relative !important;">
                <div class="search" style="position: relative !important;">
            {{ form_row(form.datenaiss, {
                'attr': {
                    'class': 'input',
                    'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;',
                    'value': "now"|date("Y-m-d")
                }
            }) }}
</div>

            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.lieunaiss,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.nompere,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.nommere,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.nbreenfant,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            <div class="search" style="position: relative !important;">
                        {{ form_row(form.grade,{
                        'attr':{
                            'class': 'input',
                            'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                        }
                    }) }}
            </div>
            <div class="search" style="position: relative !important;">
                {{ form_label(form.sexe, 'Sexe', {
                    'label_attr': {
                        'class': 'label',
                    }
                }) }} <br>
                {{ form_widget(form.sexe,{
                'attr':{
                    'class': 'choice',
                    'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                }
                }) }}
            </div> <br>
            <div class="search" style="position: relative !important;">
                {{ form_row(form.telephone,{
                'attr':{
                    'class': 'input',
                    'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'
                }
            }) }}
            </div>
            <div class="profile_content bg-light pr-2 pl-2 pb-2 mb-2 " style="width:80%;">
                <img id="profile-image-preview" src="{{ user.personne.image ? asset('uploads/image_personne/' ~ user.personne.image) : '' }}" class="mt-5" style="width: 8em;position: relative; left: 50%; transform:translateX(-50%); height: 8em; margin-top: 5em;border-radius:50%;" alt="image de profile">
                <div class="search text-center">
                {{ form_row(form.photo, {
                    'attr': {
                        'class': 'input',
                        'style': 'width: 80% !important;position: relative; left: 50%; transform:translateX(-50%);border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;',
                        'id': 'profile-image-input',
                    }
                }) }}
                
                </div>
            </div>
            <div class="signature_content bg-light pr-2 pl-2 pb-2 mb-2 " style="width:80%;">
                <img id="profile-image-preview" src="{{ user.personne.signature ? asset('uploads/image_signature/' ~ user.personne.signature) : '' }}" class="mt-5" style="width: 8em;position: relative; left: 50%; transform:translateX(-50%); height: 8em; margin-top: 5em;border-radius:50%;" alt="Signature">
                <div class="search text-center">
                {{ form_row(form.signature, {
                    'attr': {
                        'class': 'input',
                        'style': 'width: 80% !important;position: relative; left: 50%; transform:translateX(-50%);border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;',
                        'id': 'profile-image-input',
                    }
                }) }}
                
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">{{ form_row(form.editer, {'label': 'Soumettre','attr': {'class': 'orange-button mb-2'}}) }}</div>
                <div class="col-md-5"><button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button></div>
            </div>
            {{ form_end(form) }}
        </div>
        </div>
    </div>
    
    <div class="page-header">
    <div class="row">
    <div class="col-md-6">
    <h3 class="page-title text-lowercase mb-0">Listes des agents du ministère</h3>
    </div>
    <div class="col-md-6">
    <button class="float-right text-muted p-1" style="border: none;" data-toggle="modal" data-target="#newpersonne"><i class="fa fa-solid fa-plus"></i> Ajouter un nouveau agent</button>
    </div>
    </div>
    </div>
    <div class="card-body" style="box-shadow: 1px 3px 5px #aaa;">
        <div class="table-responsive ">
            <table id="example" class="table custom-table">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Matricule </th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Fonction</th>
                    <th>Direction</th>
                    <th>Date de naissance</th>
                    <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for personne in personnes %}
                    <tr>
                        <td class="custom-checkbox">
                            <input type="checkbox" name="personnes[]" class="personne-checkbox" value="{{ personne.id }}">
                        </td>
                        <td>
                            {# <h2><a href="#" class="avatar text-white"><img src="{{asset('assets/asset/img/profile/img-1.jpg')}}" alt=""></a><a href="#">{{personne.matricule}} <span></span></a></h2> #}
                            <h2><a href="{{path('personne.detail',{id: personne.id})}}" class="avatar text-white"><img src="{{asset('uploads/image_personne/' ~ personne.image)}}" alt=""></a><a href="#">{{personne.matricule}} <span></span></a></h2>
                        </td>
                        <td>{{personne.nom}}</td>
                        <td>{{personne.prenom}}</td>
                        <td>{{personne.fonction.designation}}</td>
                        <td>{{personne.direction.designation}}</td>
                        <td> {{ personne.getFormattedDatenaiss() }} </td>
                        <td class="text-right">
                            <a href="{{path('personne.detail',{id: personne.id})}}" class="btn btn-warning btn-sm mb-1">
                                <i class="far fa-thin fa-eye text-light"></i>
                            </a>
                            <a href="{{path('admin_personne.edit',{id: personne.id})}}" class="btn btn-primary btn-sm mb-1">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="{{path('personne.delete',{matricule: personne.matricule})}}" class="btn btn-danger btn-sm mb-1">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><br><br>
        
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.choice').select2();
        
        });
        function handleDelete() {
        event.preventDefault();
        if (confirm('Êtes-vous sûr de vouloir supprimer ?')) {
            console.log('Submitting delete form...');
            var selectedPersonnes = Array.from(personneCheckboxes)
                .filter(function(checkbox) {
                    return checkbox.checked;
                })
                .map(function(checkbox) {
                    return checkbox.value;
                });

            var deleteForm = document.getElementById('delete-form');
            deleteForm.querySelector('input[name="personnes"]').value = JSON.stringify(selectedPersonnes);
            deleteForm.submit();
        }
    }
    function showModal(elementId) {
      const modal = document.getElementById('newmodal');
      modal.style.display = 'block';
  
      }
      function closeModal(elementId) {
      const modal = document.getElementById('newmodal');
      modal.style.display = 'none';
    
    }
    </script>
    <script src="{{ asset('assets/js/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/datatables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/init.js') }}"></script>
    <script src="{{asset('assets/js/newmodal.js')}}"></script>
{% endblock %}
