{% extends 'admin-template.html.twig' %}

{% block title %}Informations de la personne{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/show-information.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"rel="stylesheet"/>
  
{% endblock %}
{% block editprofile %}
    <a class="dropdown-item" href="{{path('user_edit',{id: user.id})}}">Edit Profile</a>
{% endblock %}
{% block editprofile2 %}
  <li><a href="{{path('user_edit',{id: user.id})}}"><span>Créer compte agent</span></a></li>
{% endblock %}
{% block showprofile %}
    <a class="dropdown-item" href="{{path('user_show',{id: user.id})}}">Edit Profile</a>
{% endblock %}
{% block notifpro %}
    <img alt="John Doe" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" class="img-fluid rounded-circle">
{% endblock %}
{% block photoprofile %}
    <img class="rounded-circle" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" width="30" alt="Admin">
{% endblock %}
{% block main %}
    <div class="page-header">
    <div class="row">
    <div class="col-md-6">
    <h3 class="page-title mb-0">Information sur l'agent</h3>
    </div>
    <div class="col-md-6">
        {# <a href="{{path('personne.liste')}}" class="float-right text-muted"><i class="fa-solid fa-arrow-left"></i> Retour</a> #}
    </div>
    </div>
    </div>
    <div class="bg-light">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 pt-5">
                    <div class="row z-depth-3">
                        <div class="col-sm-4 rounded-left profile-left">
                            <div class="card-block text-center text-white">
                                {# <i class="fas fa-user-tie fa-7x mt-5"></i> #}
                                <img src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" class="mt-5" style="width: 12em; height: 12em; margin-top: 5em;" alt="image de profile">
                                <h2 class="font-weight-bold mt-4">{{personne.matricule}}</h2>
                                <p>{{personne.fonction.designation}}</p>
                                <a href="{{path('admin_personne.edit',{id: personne.id})}}"><i class="fas fa-edit fa-2x mb-4 text-light"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-8 bg-white rounded-right">
                            <h3 class="mt-3 text-center h3">Informations</h3>
                            <hr class="ligne mt-0 w-25">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Nom</p>
                                    <h6 class="text-muted">{{personne.nom}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Prenom</p>
                                    <h6 class="text-muted">{{personne.prenom}}</h6>
                                </div>
                            </div>
                            <hr class="ligne">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Civilite</p>
                                    <h6 class="text-muted">{{personne.civilite}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Sexe</p>
                                    <h6 class="text-muted">{{personne.sexe}}</h6>
                                </div>
                            </div>
                            <hr class="ligne">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Grade</p>
                                    <h6 class="text-muted">{{personne.grade}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Structure</p>
                                    <h6 class="text-muted">{{personne.structure}}</h6>
                                </div>
                            </div>
                            <hr class="ligne">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Date de naissance</p>
                                    <h6 class="text-muted">{{personne.datenaiss|date('d-m-Y')}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Lieu de naissance</p>
                                    <h6 class="text-muted">{{personne.lieunaiss}}</h6>
                                </div>
                            </div>
                            <hr class="ligne">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Fonction</p>
                                    <h6 class="text-muted">{{personne.fonction.designation}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">service</p>
                                    <h6 class="text-muted">{{personne.service.designation}}</h6>
                                </div>
                            </div>
                            <hr class="ligne">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Direction</p>
                                    <h6 class="text-muted">{{personne.direction.designation}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Sous direction</p>
                                    <h6 class="text-muted">{{personne.sousdirection.designation}}</h6>
                                </div>
                            </div>
                            <hr class="ligne">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Nom du père</p>
                                    <h6 class="text-muted">{{personne.nompere}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Nom de la mère</p>
                                    <h6 class="text-muted">{{personne.nommere}}</h6>
                                </div>
                            </div>
                            <hr class="ligne">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Nombre d'enfant</p>
                                    <h6 class="text-muted">{{personne.nbreenfant}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Tél</p>
                                    <h6 class="text-muted">{{personne.telephone}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}