{% extends 'liste-template.html.twig' %}

{% block stylesheets %}
    
    <link rel="stylesheet" href="{{asset('assets/css/datatables/tables-style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/edit-agent.css')}}">
    <style>
    .action .btn:hover{
    background-color: orange;
    color: white;
    }

    .lien:hover{
        background: var(--green);
    }

    #btnAction{
        background-color: var(--orange);
        color: white;
    }

    #btnAction:hover{
        background-color: orange;
        color: white;
    }

    .fa-trash , .fa-user-pen, .fa-circle-info{
        color: orange;
    }
    .modal {
        display: flex;
        align-items: center;
        justify-content:center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
        position: absolute;
        top: 10px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        left: 50%; 
        transform: translateX(-50%);
        max-width: 800px; /* Limite la largeur maximale du modal */
        max-height: 2000px;
    }

    </style>
{% endblock %}

{% block main %}
    <div id="modal" class="modal">
        <div class="modal-content">
            <a href="{{path('role.liste')}}"><span id="modal-close" class="modal-close">&times;</span></a>
            <h3 class="font-weight-bold text-center">Création d'un rôle</h3>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="row">
                <div class="search">
                        {# <i class="fa fa-envelope"></i> #}
                        {{ form_row(form.libelle,{
                        'attr':{
                            'class': 'input'
                        }
                    }) }}
                    </div>
                <div class="search">
                        {# <i class="fa fa-envelope"></i> #}
                        {{ form_row(form.description,{
                        'attr':{
                            'class': 'input'
                        }
                    }) }}
                    </div>
            </div>
            <div class="search">
                        {# <i class="fa fa-envelope"></i> #}
                        {{ form_row(form.privilege,{
                        'attr':{
                            'class': 'input'
                        }
                    }) }}
            </div>
            {{ form_row(form.editer, {'attr': {'class': 'orange-button'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="data_table">
                    <table id="example" class="table table-striped table-bordered">
                        <a href="{{path('role.edit')}}" id="btn" class="btn">Ajouter un nouveau role</a>
                        <thead>
                            <tr>
                                <th class="head"></th>
                                <th class="head">Libellé</th>
                                <th class="head">Description</th>
                                <th class="head">Privilèges</th>
                                <th class="head">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for role in roles %}
                                {% set privilegeCount = role.privilege|length %}
                                {% for loopIndex, privilege in role.privilege %}
                                    <tr>
                                        {% if loopIndex == 0 %}
                                            <td rowspan="{{ privilegeCount }}">{{ role.libelle }}</td>
                                            <td rowspan="{{ privilegeCount }}">{{ role.description }}</td>
                                        {% endif %}
                                        <td>{{ privilege.libelle }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item lien" href="{{ path('role.detail', {id: role.id}) }}"><i class="fa-regular fa-circle-info"></i> Voir plus</a></li>
                                                    <li><a id="lien" class="dropdown-item lien" onclick="showModal('lien')" href="{{ path('role.edit', {id: role.id}) }}"><i class="fa fa-user-pen"></i> Editer</a></li>
                                                    <li><a class="dropdown-item lien" href="{{ path('role.delete', {id: role.id}) }}"><i class="fa fa-trash"></i> Supprimer</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% if loopIndex != privilegeCount - 1 %}
                                        {% set loopIndex = loopIndex + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        </tbody>
                    </table>
                    <div class="dataTables_paginate">
                        <!-- Éléments de pagination générés par DataTables -->
                        <!-- ... -->
                    </div>
                    <button id="btnSupprimer" class="btn" data-delete-url="{{ path('role.delete_multiple') }}">Supprimer</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
        
      });
    </script>
    <script>
        $(document).ready(function() {
          $('.select2').select2();
        });
    </script>
    <script src="{{ asset('assets/js/datatables/init.js') }}"></script>
    <script src="{{asset('assets/js/modal.js')}}"></script>
    
   
{% endblock %}
