{% extends 'admin-template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/datatables/datatables.min.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/datatables/tables-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/edit-agent.css') }}">
    
{% endblock %}
{% block editprofile %}
    <a class="dropdown-item" href="{{path('user_edit',{id: user.id})}}">Edit Profile</a>
{% endblock %}
{% block editprofile2 %}
  <li><a href="{{path('user_edit',{id: user.id})}}"><span>Créer compte agent</span></a></li>
{% endblock %}
{% block showprofile %}
    <a class="dropdown-item" href="{{path('user_show',{id: user.id})}}">Mon Profile</a>
{% endblock %}
{% block notifpro %}
    <img alt="John Doe" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" class="img-fluid rounded-circle">
{% endblock %}
{% block photoprofile %}
    <img class="rounded-circle" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" width="30" alt="Admin">
{% endblock %}
{% block main %}
            <h3 class="font-weight-bold text-center">Création d'un nouveau rôle</h3>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="search">
                        {# <i class="fa fa-envelope"></i> #}
                        {{ form_row(form.libelle,{
                        'attr':{
                            'class': 'input'
                        }
                    }) }}
                    </div>
                <div class="search">
                        {# <i class="fa fa-envelope"></i> #}
                        {{ form_row(form.description,{
                        'attr':{
                            'class': 'input'
                        }
                    }) }}
                    </div>
            {{ form_label(form.privilege, 'Privilèges associés au rôle', {
            'label_attr': {
                'class': 'label',
            }
            }) }}</br>
            {{ form_widget(form.privilege,{'attr':{'style': 'width: 80% !important;border-top: none !important;border-left: none !important;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;'}}) }}</br></br>
            {{ form_row(form.editer, {'attr': {'class': 'orange-button mb-2'}}) }}
            {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.choice').select2();
        
        });
        function handleDelete() {
        event.preventDefault();
        if (confirm('Êtes-vous sûr de vouloir supprimer ?')) {
            console.log('Submitting delete form...');
            var selectedPersonnes = Array.from(personneCheckboxes)
                .filter(function(checkbox) {
                    return checkbox.checked;
                })
                .map(function(checkbox) {
                    return checkbox.value;
                });

            var deleteForm = document.getElementById('delete-form');
            deleteForm.querySelector('input[name="personnes"]').value = JSON.stringify(selectedPersonnes);

            deleteForm.submit();
        }
    }
    function showModal(elementId) {
      const newmodal = document.getElementById('newmodal');
      newmodal.style.display = 'block';
  
      }
      function closeModal(elementId) {
      const newmodal = document.getElementById('newmodal');
      newmodal.style.display = 'none';
    
    }
    </script>
    <script>
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
      });
    </script>
    <script>
        $(document).ready(function() {
            $('#btnSupprimer').on('click', function() {
                var rolesSelectionnees = [];
                $('input.role-checkbox:checked').each(function() {
                    rolesSelectionnees.push($(this).val());
                });

                var deleteUrl = $(this).data('delete-url');

                $.ajax({
                    url: deleteUrl,
                    method: 'POST',
                    data: { roles: JSON.stringify(rolesSelectionnees) },
                    success: function(response) {
                        alert(response.message);
                        // Suppression réussie, mettez à jour l'affichage de la liste des roles ou effectuez une redirection
                        window.location.reload(); // Recharge la page pour mettre à jour la liste
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                        alert('Une erreur est survenue lors de la suppression.');
                    }
                });
            });
        });        
    </script>
    <script src="{{ asset('assets/js/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/datatables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/init.js') }}"></script>
    <script src="{{asset('assets/js/newmodal.js')}}"></script>
{% endblock %}


