<!DOCTYPE html>
<html>
<head>
  <title>Note de service</title>
  <style>
    /* Styles pour la note de service */
    .note {
      border: 3px solid #ccc;
      padding: 20px;
      margin: 20px;
      max-width: 794px;
      font-family: Arial, sans-serif;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
    }

    /* titre de la note */
    .note .title_contenair{
        width: 75%;
        background-color: #ccc;
        margin: 0 auto;
        padding: 10px;
    }

    .note .title_contenair h2 {
      cursor: pointer;
      margin: 0 auto;
      text-align: center;

    }

    /* fin titre */
    
    .note .content {
      margin-top: 20px;
    }
     
    .note .entete .logo img {
      max-width: 200px;
      height: 100px;
      
    }

    .note .entete{
        display: flex;
        justify-content: space-between;
    }

    .note .entete .right{
        margin-top: 40px;
    }
    
    .note .signature {
      text-align: right;
      margin-top: 30px;
      
    }
    .note .signature #expediteur,#signature{
        margin-right: 20px;
        margin-left: 60%;
        width: 200px;
    }
    
    /* Styles pour la modification du titre */
    .edit-mode input[type="text"] {
      border: none;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      width: 100%;
      height: 100px;
    }
    
    .edit-mode input[type="submit"] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin-top: 10px;
      cursor: pointer;
    }

    /* Styles pour la signature */
    #signature{
        cursor: progress;
    }
    #signature img {
      max-width: 150px;
      max-height: 100px;
    }
    /* Styles pour la fenêtre de modification */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
      background-color: #fff;
      margin: 20% auto;
      padding: 20px;
      border: 1px solid #ccc;
      max-width: 400px;
      text-align: center;
    }
 
    .modal textarea {
      border: none;
      font-size: 16px;
      margin-bottom: 10px;
      width: 100%;
      padding: 5px;
      resize: vertical;
    }
    
    .modal input[type="submit"] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin-top: 10px;
      cursor: pointer;
    }
    .modal-close {
      float: right;
      cursor: pointer;
      font-size: 30px;
      font-weight: bolder;
      color: #ccc;
    }
  </style>
  <script>
     function showModal(elementId) {
      const modal = document.getElementById('modal');
      const element = document.getElementById(elementId);
      const elementText = element.textContent.trim();
      const textarea = document.getElementById('modal-textarea');
      const submitBtn = document.getElementById('modal-submit');
      const closeBtn = document.getElementById('modal-close');

      modal.style.display = 'block';
      textarea.value = elementText;
      textarea.focus();

      submitBtn.onclick = function() {
        const newText = textarea.value.trim();
        element.innerHTML = newText !== '' ? newText : '[Cliquez ici pour ajouter du texte]';
        modal.style.display = 'none';

        // Mettre à jour l'élément dans la base de données ou effectuer d'autres actions nécessaires ici
      }
      closeBtn.onclick = function() {
        modal.style.display = 'none';
      }
    }

// charger une signature
    function loadSignature() {
      const signatureElement = document.getElementById('signature');
      const fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.accept = 'image/*';

      fileInput.addEventListener('change', function() {
        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.addEventListener('load', function() {
          signatureElement.innerHTML = '<img src="' + reader.result + '" alt="Signature">';
        });

        if (file) {
            reader.readAsDataURL(file);
        }
        });
        fileInput.click();
        }
  </script>
</head>
<body>
  <div class="note">
    <div class="entete">
        <div class="logo">
            <img src="{{asset('assets/img/logomfp.jpeg')}}" alt="Logo du ministère">
        </div>
        <div class="right">
            <span id="date" onclick="showModal('date')">Abidjan, le [Date d'édition]</span>
        </div>
    </div>
    <div class="entete">
        <div class="info_emmeteur">
            <p><strong>Emmeteur:</strong></p>
            <p id="emmeteur" onclick="showModal('emmeteur')">
            {% if form.personne.vars.value is defined %}
              {{ form.personne.vars.value }}
            {% else %}
              [Emmeteur]
            {% endif %}
            </p>
        </div>
        <div class="right2">
            <p><strong>destinataire:</strong></p>
            <p id="destinataire" onclick="showModal('destinataire')">
                {% if form.destinataire.vars.value is defined %}
                  {{ form.destinataire.vars.value }}
                {% else %}
                  [destinataire]
                {% endif %}
            </p>
        </div>
    </div>
    <div class="numero">
        <p id="codeRef" onclick="showModal('codeRef')">
            {% if form.numeref.vars.value is defined %}
              {{ form.numeref.vars.value }}
            {% else %}
              [numéro de référence]
            {% endif %}
        </p>
    </div>
    <div class="title_contenair">
        <h2>Note de service</h2>
    </div>
    <div class="content">
      <div class="content">
      <p><strong>Objet: </strong><span id="title" onclick="showModal('title')">
          {% if form.numeref.vars.value is defined %}
              {{ form.objet.vars.value }}
          {% else %}
            [Objet de la note]
          {% endif %}</span>
      </p>
      <hr>
      <p id="contenu" onclick="showModal('contenu')">
          {% if form.numeref.vars.value is defined %}
            {{ form.numeref.vars.value }}
          {% else %}
            [Contenu de la note de service]
          {% endif %}
      </p>
    </div>
    </div>
    <div class="signature">
        <p id="expediteur" onclick="showModal('expediteur')">[Poste de l'emmeteur]</p>
        <p id="signature" onclick="loadSignature()">[Cliquez ici pour charger votre signature]</p>
    </div>
  </div>
  <!-- Fenêtre de modification -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span id="modal-close" class="modal-close">&times;</span>
      <textarea id="modal-textarea" cols="30" rows="10"></textarea>
      <input id="modal-submit" type="submit" value="Enregistrer">
    </div>
  </div>
</body>

</html>
         
