{% extends 'user-template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/datatables/datatables.min.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/datatables/tables-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/edit-agent.css') }}">
    <style>
        .custom-radio input[type="radio"] {
        /* Cacher l'input radio natif */
        position: absolute;
        opacity: 0;
        }

        .custom-radio input[type="radio"] + label {
        /* Styles pour la représentation graphique du radio */
        position: relative;
        padding-left: 25px; /* Espace réservé pour le radio */
        cursor: pointer;
        }

        .custom-radio input[type="radio"] + label:before {
        /* Styles pour la coche du radio */
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff; /* Couleur de fond du radio */
        border: 2px solid #aaa; /* Couleur de la bordure du radio */
        }

        .custom-radio input[type="radio"]:checked + label:before {
        /* Styles pour la coche du radio lorsqu'il est sélectionné */
        background-color: #2fdf84; /* Couleur de fond du radio lorsqu'il est sélectionné */
        border-color: orange; /* Couleur de la bordure du radio lorsqu'il est sélectionné */
        }

    </style>
{% endblock %}
{% block editprofile %}
    <a class="dropdown-item" href="{{path('user_edit',{id: user.id})}}">Edit Profile</a>
{% endblock %}
{% block showprofile %}
    <a class="dropdown-item" href="{{path('user_show',{id: user.id})}}">Edit Profile</a>
{% endblock %}
{% block notifpro %}
    <img alt="John Doe" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" class="img-fluid rounded-circle">
{% endblock %}
{% block photoprofile %}
    <img class="rounded-circle" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" width="30" alt="Admin">
{% endblock %}
{% block main %}
        <h3 class="font-weight-bold text-center">Formulaire de demande de permission</h3>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="search" style="position: relative !important">
            <label for="inputNom">Nom et Prénoms</label>
            {# <i class="fas fa-envelope"></i> #}
            <input type="nom" value="{{ personne.nom }} {{ personne.prenom }}" name="nom" id="inputNom" class="form-control" autocomplete="email" required autofocus readonly>
        </div>

        <div class="search mt-4" style="position: relative !important">
            <label for="inputEmploi">Fonction</label>
            {# <i class="fas fa-envelope"></i> #}
            <input type="email" value="{{ personne.fonction.designation }}" name="email" id="inputEmploi" class="form-control" autocomplete="email" required autofocus readonly>
        </div>

        <div class="search mt-4" style="position: relative !important">
            <label for="inputMatricule">Matricule</label>
            {# <i class="fas fa-envelope"></i> #}
            <input type="text" value="{{ personne.matricule }}" name="matricule" id="inputMatricule" class="form-control" autocomplete="off" required autofocus readonly>
        </div><br>

        {{ form_label(form.typepermission, 'Motif de la permission', {
            'label_attr': {
                'class': 'label',
            }
        }) }}</br>
        {{ form_widget(form.typepermission, {'attr':{'class': 'custom-radio','style': 'width: 80% !important;'}}) }}</br>
        <div class="search">
            <div id="motif" style="display: none;">
                {{ form_row(form.motif) }}
            </div>
        </div>
        <div class="search" style="position: relative !important">
            {{ form_row(form.duree, {'attr': {'class': 'input', 'readonly': 'readonly', 'id' : 'permission_duree'}}) }}
        </div>
        <div class="search" style="position: relative !important">
            {{form_row(form.datedebut)}}
        </div>
        <div class="search style="position: relative !important"">
           {{form_row(form.datefin)}}
        </div>
        <div class="search" style="position: relative !important">
            {{form_row(form.datereprise)}}
        </div>
        <div class="search" style="position: relative !important;display: none;">
            {{ form_row(form.statut) }}
        </div>
        <div class="search" style="position: relative !important">
            {{ form_row(form.photo, {'attr': {'class': 'input'}}) }}
        </div>

        {{ form_row(form.envoyer, {'attr': {'class': 'orange-button mb-2'}}) }}
        {{ form_end(form) }}
        
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('input[name="permission[typepermission]"]').on('change', function() {
                var selectedValue = $(this).val();
                if (selectedValue === "autres") {
                    $('#motif').show();
                } else {
                    $('#motif').hide();
                }

                var dureeInput = $('#permission_duree');

                if (selectedValue === "Décès d'un ascendant ou d'un descendant en ligne directe" ) {
                    dureeInput.val('05 jours');
                    dureeInput.prop('readonly', true);
                } else if (selectedValue === "Mariage de l'agent ou d'un enfant de l'agent") {
                    dureeInput.val('02 jours');
                    dureeInput.prop('readonly', true);
                } else if (selectedValue === "Naissance survenue au foyer du fonctionnaire") {
                    dureeInput.val('03 jours');
                    dureeInput.prop('readonly', true);
                } else {
                    dureeInput.val('');
                    dureeInput.prop('readonly', false);
                }
            });
        });
        

        function handleDelete() {
        event.preventDefault();
        if (confirm('Êtes-vous sûr de vouloir supprimer ?')) {
            console.log('Submitting delete form...');
            var selectedPersonnes = Array.from(permissionCheckboxes)
                .filter(function(checkbox) {
                    return checkbox.checked;
                })
                .map(function(checkbox) {
                    return checkbox.value;
                });

            var deleteForm = document.getElementById('delete-form');
            deleteForm.querySelector('input[name="permissions"]').value = JSON.stringify(selectedPersonnes);

            deleteForm.submit();
        }
    }
    function showModal(elementId) {
      const newmodal = document.getElementById('newmodal');
      newmodal.style.display = 'block';
  
      }
      function closeModal(elementId) {
      const newmodal = document.getElementById('newmodal');
      newmodal.style.display = 'none';
    
    }
    
    </script>
    <script src="{{ asset('assets/js/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/datatables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/init.js') }}"></script>
    <script src="{{asset('assets/js/newmodal.js')}}"></script>
{% endblock %}
