{% extends 'user-template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/datatables/datatables.min.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/datatables/tables-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/edit-agent.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

        body {
            font-family: Robotto, Poppins sans-serif;
            margin: 0;
            padding: 20px;
        }

        .action {
            margin: 0 auto;
        }

        .custom-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border: 2px solid #000;
        }

        .logodoc {
            width: 100px;
        }

        .logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .right p {
            margin-bottom: 0;
        }
      
        .direction_info {
            margin-bottom: 10px;
        }

        .cabinet {
            text-align: center;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .dsi {
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 5px;
        }

        .date {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        .title {
            text-align: center;
            font-size: 24px;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        .content {
            margin-top: 20px;
        }

        .signature-row {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .signature {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .signature .contenu img {
            width: 100px;
            height: 75px;
        }

        .strong1,
        .strong2 {
            margin-right: 100px;
        }
    </style>
{% endblock %}

{% block editprofile %}
    <a class="dropdown-item" href="{{path('user_edit',{id: user.id})}}">Edit Profile</a>
{% endblock %}

{% block showprofile %}
    <a class="dropdown-item" href="{{path('user_show',{id: user.id})}}">Edit Profile</a>
{% endblock %}

{% block notifpro %}
    <img alt="John Doe" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" class="img-fluid rounded-circle">
{% endblock %}

{% block photoprofile %}
    <img class="rounded-circle" src="{{ asset('uploads/image_personne/' ~ user.personne.image)}}" width="30" alt="Admin">
{% endblock %}

{% block main %}
    <div class="container custom-container">
        <div class="logo-container">
            <div class="left">
                <img class="logodoc" src="{{asset('assets/img/logomfp.jpeg')}}" alt="Logo">
            </div>
            <div class="right">
                <p>REPUBLIQUE DE COTE D'IVOIRE</p>
                <img class="logodoc" src="{{asset('assets/img/armoirie.jpg')}}" alt="Coat of Arms">
                <p>UNION-DISCIPLINE-TRAVAIL</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="divider">
                    --------------
                </div>
                <div class="cabinet">
                    CABINET
                </div>

                <div class="divider">
                    --------------
                </div>

                <div class="dsi">
                    DIRECTION DES AFFAIRES FINANCIERS (DAF)
                </div>
            </div>
        </div>

        <div class="date">
            <div>Abidjan le {{permission.datereprise|date('d-m-Y')}}</div>
        </div>

        <div class="title">
            DEMANDE DE PERMISSION
        </div>

        <div class="content">
            <p>Nom et Prénoms : <strong>{{personne.nom}} {{personne.prenom}}</strong></p>
            <p>Emploi : <strong>{{personne.fonction.designation}}</strong></p>
            <p>Matricule : <strong>{{personne.matricule}}</strong></p>
            <p>Motif : <strong>{{permission.typepermission}}</strong></p>
            <p>Durée de l'absence : <strong class="strong1">{{permission.duree}}</strong> Du : <strong class="strong1"> {{permission.datedebut|date('d-m-Y')}}</strong> Au :<strong> {{permission.datefin|date('d-m-Y')}}</strong></p>
        </div>

        <div class="signature-row">
            <div class="signature">
                <div class="titre">Signature de l'agent:</div>
                {# <div class="contenu"><img src="{{ asset('uploads/image_signature/' ~ personne.signature.path)}}" alt=""></div> #}
            </div>
            <div class="signature">
                <div class="titre">Visa du Chef de service:</div>
                {# <div class="contenu"><img src="{{ asset('uploads/image_signature/' ~ personne.signature.path)}}" alt=""></div> #}
            </div>
            <div class="signature">
                <div class="titre">Visa du Sous-Directeur:</div>
                {# <div class="contenu"><img src="{{ asset('uploads/image_signature/' ~ personne.signature.path)}}" alt=""></div> #}
            </div>
            <div class="signature">
                <div class="titre">Signature du Directeur:</div>
                {# <div class="contenu"><img src="{{ asset('uploads/image_signature/' ~ personne.signature.path)}}" alt=""></div> #}
            </div>
        </div>
    </div>

    <ul class="row d-flex justify-content-between list-unstyled action">
        <li class="col">Valider</li>
        <li class="col">Rejeter</li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('input[name="permission[hasProgrammeObsq]"]').on('change', function() {
                var selectedValue = $(this).val();
                if (selectedValue === '1') {
                    $('#programmeobsq').show();
                } else {
                    $('#programmeobsq').hide();
                }
            });
        });
        function handleDelete() {
            event.preventDefault();
            if (confirm('Êtes-vous sûr de vouloir supprimer ?')) {
                console.log('Submitting delete form...');
                var selectedPersonnes = Array.from(permissionCheckboxes)
                    .filter(function(checkbox) {
                        return checkbox.checked;
                    })
                    .map(function(checkbox) {
                        return checkbox.value;
                    });

                var deleteForm = document.getElementById('delete-form');
                deleteForm.querySelector('input[name="permissions"]').value = JSON.stringify(selectedPersonnes);

                deleteForm.submit();
            }
        }
        function showModal(elementId) {
            const newmodal = document.getElementById('newmodal');
            newmodal.style.display = 'block';
        }
        function closeModal(elementId) {
            const newmodal = document.getElementById('newmodal');
            newmodal.style.display = 'none';
        }
    </script>
    <script src="{{ asset('assets/js/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/datatables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/init.js') }}"></script>
    <script src="{{asset('assets/js/newmodal.js')}}"></script>
{% endblock %}
